@page
@model MyCollection.Pages.Bones.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Bone</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Bone.Currency" class="control-label"></label>
                <select asp-for="Bone.CurrencyId" class ="form-control" asp-items="ViewBag.CurrencyId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Bone.Nominal" class="control-label"></label>
                <input asp-for="Bone.Nominal" class="form-control" />
                <span asp-validation-for="Bone.Nominal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bone.Year" class="control-label"></label>
                <input asp-for="Bone.Year" class="form-control" />
                <span asp-validation-for="Bone.Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bone.Signature" class="control-label"> </label>
                <select asp-for="Bone.SignatureId" class ="form-control" asp-items="ViewBag.SignatureId">
                    <option value="">-- Select Signature --</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Bone.Grade" class="control-label"></label>
                <select asp-for="Bone.GradeID" class ="form-control" asp-items="ViewBag.GradeID">
                    <option value="">-- Select Grade --</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Bone.Price" class="control-label"></label>
                <input asp-for="Bone.Price" class="form-control" />
                <span asp-validation-for="Bone.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bone.Note" class="control-label"></label>
                <input asp-for="Bone.Note" class="form-control" />
                <span asp-validation-for="Bone.Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label"> Avers</label>
                <input type="file" name="aversImage" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label"> Revers</label>
                <input type="file" name="reversImage" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a class="btn btn-info" asp-page="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
