@page
@model MyCollection.Pages.Admin.RoleManager.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form method="post">
    <div class="input-group">
        <input name="roleName" class="form-control w-25">
        <span class="input-group-btn">            
            <input type="submit" value="Add New Role" class="btn btn-primary" />
        </span>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Roles[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Roles[0].Name)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Roles) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            
            <td>
            </td>
        </tr>
}
    </tbody>
</table>
