@page
@model SaveMyCollections.Pages.Settings.Dimes.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Dime</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Dime.Id" />
            <div class="form-group">
                <label asp-for="Dime.Code" class="control-label"></label>
                <input asp-for="Dime.Code" class="form-control" />
                <span asp-validation-for="Dime.Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dime.Name" class="control-label"></label>
                <input asp-for="Dime.Name" class="form-control" />
                <span asp-validation-for="Dime.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dime.CountryId" class="control-label"></label>
                <select asp-for="Dime.CountryId" class="form-control" asp-items="ViewBag.CountryId"></select>
                <span asp-validation-for="Dime.CountryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dime.WikiLink" class="control-label"></label>
                <input asp-for="Dime.WikiLink" class="form-control" />
                <span asp-validation-for="Dime.WikiLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a class="btn btn-info" asp-page="./Index">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
