@page
@model MyCollection.Pages.NotFoundModel
@{
    ViewData["Title"] = "Not Found";
}
<h1>@ViewData["Title"]</h1>

<h3>The resource you are looking for can not be found</h3>

<div>
    <a asp-page="Index">Back to List</a>
</div>
